@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.no-scrollbar::-webkit-scrollbar {
  display: none;            
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}



.serv {
  background: #F6E6C2;
  color: #000;
}

 .serv button{
  border-bottom: 2px solid #000;
 }

.inner:hover > .serv {
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.inner:hover > .serv p{
  color: #fff;
}

.inner:hover > .serv button{
  color: #fff;
  border-bottom: 2px solid #fff;
}


.brand:hover{
  background: url('/img/Brand-visibility.jpg');
   background-position:center;
  background-size:cover;
}

.personal:hover{
  background: url('/img/personal-branding.jpg');
   background-position:center;
  background-size:cover;
}

.public:hover{
  background: url('/img/public-speaking.jpg');
   background-position:center;
  background-size:cover;
}

.cv:hover{
  background: url('/img/CV-writing.jpg');
   background-position:center;
  background-size:cover;
}

.presentation:hover{
  background: url('/img/presentation-skills.jpg');
   background-position:center;
  background-size:cover;
}

.professional:hover{
  background: url('/img/professional-etiquette.jpg');
   background-position:center;
  background-size:cover;
}

.leadership:hover{
  background: url('/img/Leadership-skills.jpg');
   background-position:center;
  background-size:cover;
}

.presence:hover{
  background: url('/img/branding-presence.jpg');
   background-position:center;
  background-size:cover;
}

.interview:hover{
  background: url('/img/Job-Interview.jpg');
   background-position:center;
  background-size:cover;
}




